include _mixins.pug
include ../../dialogs/_sign_in.pug
include ../../dialogs/_registration.pug
include ../../dialogs/_recover_password.pug
include ../../dialogs/_recover_message.pug
include ../../dialogs/_callback.pug
include ../../dialogs/_choose_tour.pug
include ../../dialogs/_lightbox.pug
