include ../common/pug/_mixins.pug

section.fivepost
    div.container

        div.steps.mobile
            span Шаг 3
            span.active Адрес получения

        div.steps.desktop
            a(href="order_personal.html") Личные данные
            img(src="images/steps_arrow.svg")
            a(href="order_personal.html") Способ доставки
            img(src="images/steps_arrow.svg")
            span.active Адрес получения
            img(src="images/steps_arrow.svg")
            span Оплата

        h1 Выберите ПВЗ 5POST

        div.module Место для модуля интеграции 5POST

        div.buttons
            button(onclick="history.back()").border
                img(src="../../images/back_arrow.svg")
                span Назад
            a.button Далее