section.success 
    div.container
        img(src="images/order_success.svg")
        h1 Заказ успешно оформлен!
        p Спасибо за ваш выбор! Номер заказа: #[b #123456]
        a(href="index.html").button Вернуться на главную 