section.pages
    padding-top: 100px
    padding-bottom: 100px
    div.container
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-gap: 30px

        a
            display: block
            padding: 20px
            border: 1px solid rgba(0,0,0,0.1)